{% extends 'base.html' %} {% block breadcrumb %}
<li class="breadcrumb-item active">Boards</li>
{% endblock %} {% block content %}
<table class="table">
  <thead class="thead-inverse">
    <tr bgcolor="#000000">
      <th class=white-input>Board</th>
      <th class=white-input>Posts</th>
      <th class=white-input>Topics</th>
      <th class=white-input>Last Post</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <td>
        <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
        <small class="text-muted d-block">{{ board.description }}</small>
      </td>
      <td class="align-middle" style="padding-left: 22px;">0</td>
      <td class="align-middle" style="padding-left: 28px;">0</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}